
body ,html, .text-secondary, .text-main h1, .text-main h2, .sidebar .menu .item ,.sidebar .menu .item .button {
    text-align: right;
}

h1, h2 {
    font-family: 'secular';
}

button {
    letter-spacing: 3px;
}

.text-main h1 {
    line-height: 49px;
}
.text-main h2{
    line-height: 40px; 
}

.sidebar .menu .item{
    padding-left:initial;
    padding-right: 9%;
}

.sidebar .menu .item .button{
    left:initial;
    bottom:40px;
    right: 30%;
}

.contact .text-secondary{
    padding-right: 6%;
    font-size: 1.3rem;
}

.about .text-secondary {
    margin: 0 7.5%;
    width:85%;
}

.contact .text-secondary span{
    line-height: 22px;
}

.input_container.second, .submit_btn{
    right:initial;
    left:0;
}

.form input, .form textarea{
    padding-left: initial;
    padding-right:12px;
}

@font-face {
    font-family: 'secular';
    src: url('../resources/fonts/secularone.woff2') format('woff2'),
         url('../resources/fonts/secularone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}