body {
    width:100%;
    height:100%;
    background-color:#1D1D1D;
    padding:0;
    margin:0;
    position: absolute;
    /* overflow-x: hidden; */
    font-family: 'robotoregular';
}

div {
    display: block;
}

img {
    max-width: 100%;
}

h1 {
    font-family: 'robotobold';
    cursor: default;
}

a:link{
    text-decoration: none;
}

span {
    color: #fff;
    font-weight: normal;
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
}

button {
    border: 1px solid  #08FDD8;
    position: relative;
    color: #08FDD8;
    font-family: 'robotomedium';
    font-size:18px;
    letter-spacing: 4.5px;
}

button:focus {
    outline:0;
}

textarea{
    font-family: 'robotomedium';
}

.body{
    width: 100%;
    height: 400%;
    position: relative;
}

.content{
    width: 95.5%;
    height: 25%;
    margin-left: 4.5%;
    position: relative;
    overflow: hidden;
}

/* .home{
    border: 1px solid white;
}

.about{
    border: 1px solid blue;
}

.contact{
    border: 1px solid yellow;
} 

.portfolio{
    border: 1px solid purple;
    overflow: initial;
} */

.particles{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.button{
    background-color: transparent;
   
	color: #fff;
	display: block;
    position: relative;
    z-index: 0;
	border: 2px solid #08FDD8;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
	color: #000 !important;
	background-color: transparent;
    text-shadow: nthree;
    cursor:pointer;
}
.button:hover:before {
	left: 0%;
	right: auto;
    width: 100%;
}
.button:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #08FDD8;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.contact_btn {
    margin-left: 210px;
    width: 190px;
    height: 60px;
}




.sidebar .menu .item:hover .button{
    opacity: 1;
}
.sidebar .menu .item:hover img{
    opacity: 0;
} 

.sidebar .menu .item .button{
    opacity: 0;
    bottom: 41px;
    letter-spacing: 0.5px;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    border:none;
}



.sidebar{
    background-color: #141414;
    width: 4.5%;
    min-width: 75px;
    height:100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 1px solid #08FDD8; 
    overflow: hidden;
     /* filter: brightness(85%);  */
    transition: 300ms ease-out;
}

.sidebar:hover{
    background-color:#122421;
}


.sidebar .logo{
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:40px;
}

.sidebar .menu{
    height: 100%;
    width: 100%;
    top: 20%;
    position: absolute;
    
}

.sidebar .menu .item {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    height: 35px;
    width: 100%;
}


.sidebar .icon{
    width:35px;
    height:35px;
    transition: 300ms ease-out;
}



.text-main {
    position:relative;
    width:670px;
    max-height: 90%;
    z-index: 5;
    margin-top: 17%;
    margin-left: 145px;
}


.text-main h1{
    line-height: 53px;
    font-size: 72px;
    margin: 0;
    padding:0;
}

.text-main .letter{
    margin-top:5px;
    margin-bottom:5px;
    display: inline-block;
    transition: 0.2s;
    cursor: default;
    -webkit-transition: animation 0.3s ease-out;
    transition: animation 0.3s ease-out;
}

.bounce{
    display: inline-block;
    transition: 0.2s;
    cursor: default;
    -webkit-transition: bounce 0.3s ease-out;
    transition: bounce 0.3s ease-out;
}

.text-main .letter:hover, .text-main .bounce:hover{
    color:#08FDD8;
}

.text-main .logo{
    top: 4px;
    left: 7px;
    height: 62px;
    position: relative;
}  

.home .text-main{
    margin-top:20%;
}

.home .text-secondary span{
    letter-spacing: 5px;
}

.text-secondary{
    max-width: 720px;
    display: block;
    margin-left: 148px;
    margin-top: 25px;
    margin-bottom: 45px;
    text-align: left;
    position: relative;
    font-size: 28px;
    z-index: 1;
    letter-spacing: 3px;
}

.about .text-main{
    padding-left: 50px;
    margin-top: 25%;
    z-index: 1;
}

.about .text-secondary{
    margin-left: 205px;

    font-size: 19px;
}




.about .text-main .logo{
    left: 13px;
    height:72px;
}



.about video{
    z-index: 0;
    width: 100%;
    min-height:100%;
    position: absolute;
    top: 0;
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -o-filter: brightness(30%);
    -ms-filter: brightness(30%);
    filter: brightness(25%);
}

.portfolio .text-main{
    margin-top:50px;
    margin-bottom:50px;
}


.contact .text-main{
    margin-top:120px;
    margin-bottom:70px;
}

.contact .text-main span{
    color:#08FDD8;
}

.contact .map{
    height: 102%;
    width: 53%;
    position: absolute;
    right: 0;
    bottom: -23px;
    /* border:1px solid orange; */
}

.contact .text-secondary{
    font-size: 18px;
    width: 35%;
}


.form{
    width: 35%;
    height: 50%;
    margin-left: 145px;
    position: relative;
}

.form input, .form textarea{
    background-color: #2B2B2B;
    color: #848484;
    width: 100%;
    height: 100%;
    font-size: 22px;
    margin: 5px;
    transition: ease-in-out, width .35s ease-in-out;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 22px;
    outline: none;
}

.input_container {
    width: 100%;
    height:70px;
    margin-top: 15px;
    margin-bottom:15px;
    position: relative;
    overflow: hidden;
    /* overflow:hidden; */
  }

    .input_container.first{
      width: 49%;
    }

    .input_container.second{
        position: absolute;
        width: 49%;
        top: 0;
        right: 0;
        margin: 0;
    }

    .input_container.fourth{
        height:220px;
    }

    .input_container.fourth textarea{
        padding-top: 17px;

    }
  
  input ~ .border, textarea ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    width: 0;
    height: 2px;
    background-color: #08FDD8;
    
  }
  
  input:focus ~ .border, textarea:focus ~ .border {
    width: 110%;
    transition: 0.4s;
  }


.submit_btn {
    right: 0;
    /* margin-left: 310px; */
    width: 150px;
    height: 50px;
    margin-top:25px;
    position: absolute;
}


.swiper-container {
    height: 80%;
    color: white;
    margin: 0 auto
}

.swiper-slide {
    margin:5px;
    /* border: 1px solid greenyellow; */
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}





@media only screen and (max-height: 750px) {
    .text-main{
        margin-top: 8%;
    }

    .sidebar .menu{
        top: 12%;     
    }
  }







.animation-bounce {
    -webkit-animation: bounce 1000ms linear both;
    animation: bounce 1000ms linear both; 
  }


.animation-spin {
    -webkit-animation: spin 1000ms linear both;
    animation: spin 1000ms linear both; 
  }


.animation-bigspin {
    -webkit-animation: bigspin 1600ms linear  both;
    animation: bigspin 1600ms linear both; 
  }
  
  @-webkit-keyframes bounce { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.31% { -webkit-transform: matrix3d(0.743, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.743, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.62% { -webkit-transform: matrix3d(0.561, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.561, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.93% { -webkit-transform: matrix3d(0.474, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.474, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.24% { -webkit-transform: matrix3d(0.453, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.453, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.79% { -webkit-transform: matrix3d(0.49, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.49, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.98% { -webkit-transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    23.08% { -webkit-transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    26.39% { -webkit-transform: matrix3d(0.759, 0, 0, 0, 0, 1.484, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.759, 0, 0, 0, 0, 1.484, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.7% { -webkit-transform: matrix3d(0.945, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.945, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    30.34% { -webkit-transform: matrix3d(0.969, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.969, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.01% { -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 0.945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.032, 0, 0, 0, 0, 0.945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.32% { -webkit-transform: matrix3d(1.05, 0, 0, 0, 0, 0.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05, 0, 0, 0, 0, 0.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.87% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    47.43% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    53.41% { -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    64.6% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    70.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    76.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    87.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  @keyframes bounce { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.31% { -webkit-transform: matrix3d(0.743, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.743, 0, 0, 0, 0, 1.514, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.62% { -webkit-transform: matrix3d(0.561, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.561, 0, 0, 0, 0, 1.879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.93% { -webkit-transform: matrix3d(0.474, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.474, 0, 0, 0, 0, 2.052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.24% { -webkit-transform: matrix3d(0.453, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.453, 0, 0, 0, 0, 2.093, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.79% { -webkit-transform: matrix3d(0.49, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.49, 0, 0, 0, 0, 2.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    22.98% { -webkit-transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    23.08% { -webkit-transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.494, 0, 0, 0, 0, 2.012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    26.39% { -webkit-transform: matrix3d(0.759, 0, 0, 0, 0, 1.484, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.759, 0, 0, 0, 0, 1.484, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.7% { -webkit-transform: matrix3d(0.945, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.945, 0, 0, 0, 0, 1.118, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    30.34% { -webkit-transform: matrix3d(0.969, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.969, 0, 0, 0, 0, 1.071, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    33.01% { -webkit-transform: matrix3d(1.032, 0, 0, 0, 0, 0.945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.032, 0, 0, 0, 0, 0.945, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.32% { -webkit-transform: matrix3d(1.05, 0, 0, 0, 0, 0.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.05, 0, 0, 0, 0, 0.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.87% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.98, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    47.43% { -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, 0, 0, 0, 0, 0.995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    53.41% { -webkit-transform: matrix3d(0.997, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0, 0, 0, 0, 1.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    64.6% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    70.51% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    76.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    87.68% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.2% { -webkit-transform: matrix3d(0.652, -0.763, 0, 0, 0.871, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.652, -0.763, 0, 0, 0.871, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(0.797, -0.614, 0, 0, 0.768, 0.649, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.797, -0.614, 0, 0, 0.768, 0.649, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.41% { -webkit-transform: matrix3d(0.953, -0.325, 0, 0, 0.534, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.953, -0.325, 0, 0, 0.534, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1.002, -0.083, 0, 0, 0.296, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, -0.083, 0, 0, 0.296, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.71% { -webkit-transform: matrix3d(0.992, 0.149, 0, 0, -0.001, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0.149, 0, 0, -0.001, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(0.991, 0.154, 0, 0, -0.01, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0.154, 0, 0, -0.01, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(0.984, 0.181, 0, 0, -0.111, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.984, 0.181, 0, 0, -0.111, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.92% { -webkit-transform: matrix3d(0.987, 0.163, 0, 0, -0.116, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, 0.163, 0, 0, -0.116, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.23% { -webkit-transform: matrix3d(0.998, 0.066, 0, 0, -0.067, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0.066, 0, 0, -0.067, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1, 0.028, 0, 0, -0.037, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.028, 0, 0, -0.037, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    31.43% { -webkit-transform: matrix3d(1, 0.004, 0, 0, -0.015, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.004, 0, 0, -0.015, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(1, -0.013, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.013, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes spin {
    0% { -webkit-transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.2% { -webkit-transform: matrix3d(0.652, -0.763, 0, 0, 0.871, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.652, -0.763, 0, 0, 0.871, 0.501, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.3% { -webkit-transform: matrix3d(0.797, -0.614, 0, 0, 0.768, 0.649, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.797, -0.614, 0, 0, 0.768, 0.649, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.41% { -webkit-transform: matrix3d(0.953, -0.325, 0, 0, 0.534, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.953, -0.325, 0, 0, 0.534, 0.853, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.61% { -webkit-transform: matrix3d(1.002, -0.083, 0, 0, 0.296, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.002, -0.083, 0, 0, 0.296, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.71% { -webkit-transform: matrix3d(0.992, 0.149, 0, 0, -0.001, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.992, 0.149, 0, 0, -0.001, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.91% { -webkit-transform: matrix3d(0.991, 0.154, 0, 0, -0.01, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.991, 0.154, 0, 0, -0.01, 1.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.22% { -webkit-transform: matrix3d(0.984, 0.181, 0, 0, -0.111, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.984, 0.181, 0, 0, -0.111, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.92% { -webkit-transform: matrix3d(0.987, 0.163, 0, 0, -0.116, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.987, 0.163, 0, 0, -0.116, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.23% { -webkit-transform: matrix3d(0.998, 0.066, 0, 0, -0.067, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.998, 0.066, 0, 0, -0.067, 0.998, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    28.33% { -webkit-transform: matrix3d(1, 0.028, 0, 0, -0.037, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.028, 0, 0, -0.037, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    31.43% { -webkit-transform: matrix3d(1, 0.004, 0, 0, -0.015, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.004, 0, 0, -0.015, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    39.44% { -webkit-transform: matrix3d(1, -0.013, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.013, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    56.46% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    61.66% { -webkit-transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.001, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    81.48% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.98% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}
  
  @-webkit-keyframes bigspin { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3% { -webkit-transform: matrix3d(-0.529, -0.849, 0, 0, 0.811, -0.587, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.529, -0.849, 0, 0, 0.811, -0.587, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.91% { -webkit-transform: matrix3d(0.511, 0.861, 0, 0, -0.815, 0.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.511, 0.861, 0, 0, -0.815, 0.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.01% { -webkit-transform: matrix3d(0.428, 0.905, 0, 0, -0.866, 0.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.428, 0.905, 0, 0, -0.866, 0.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.01% { -webkit-transform: matrix3d(-0.946, -0.326, 0, 0, 0.254, -0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.946, -0.326, 0, 0, 0.254, -0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.93% { -webkit-transform: matrix3d(0.282, -0.96, 0, 0, 0.975, 0.223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.282, -0.96, 0, 0, 0.975, 0.223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.72% { -webkit-transform: matrix3d(0.986, 0.167, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.986, 0.167, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.85% { -webkit-transform: matrix3d(0.983, 0.183, 0, 0, -0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.983, 0.183, 0, 0, -0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    23.77% { -webkit-transform: matrix3d(0.891, 0.454, 0, 0, -0.44, 0.898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.891, 0.454, 0, 0, -0.44, 0.898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.43% { -webkit-transform: matrix3d(0.936, 0.351, 0, 0, -0.345, 0.939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.936, 0.351, 0, 0, -0.345, 0.939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    40.46% { -webkit-transform: matrix3d(0.997, 0.081, 0, 0, -0.08, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0.081, 0, 0, -0.08, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.95% { -webkit-transform: matrix3d(1, -0.006, 0, 0, 0.006, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.006, 0, 0, 0.006, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    57.14% { -webkit-transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  @keyframes bigspin { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3% { -webkit-transform: matrix3d(-0.529, -0.849, 0, 0, 0.811, -0.587, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.529, -0.849, 0, 0, 0.811, -0.587, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.91% { -webkit-transform: matrix3d(0.511, 0.861, 0, 0, -0.815, 0.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.511, 0.861, 0, 0, -0.815, 0.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.01% { -webkit-transform: matrix3d(0.428, 0.905, 0, 0, -0.866, 0.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.428, 0.905, 0, 0, -0.866, 0.502, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.01% { -webkit-transform: matrix3d(-0.946, -0.326, 0, 0, 0.254, -0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.946, -0.326, 0, 0, 0.254, -0.968, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    11.93% { -webkit-transform: matrix3d(0.282, -0.96, 0, 0, 0.975, 0.223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.282, -0.96, 0, 0, 0.975, 0.223, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.72% { -webkit-transform: matrix3d(0.986, 0.167, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.986, 0.167, 0, 0, -0.135, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.85% { -webkit-transform: matrix3d(0.983, 0.183, 0, 0, -0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.983, 0.183, 0, 0, -0.151, 0.989, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    23.77% { -webkit-transform: matrix3d(0.891, 0.454, 0, 0, -0.44, 0.898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.891, 0.454, 0, 0, -0.44, 0.898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.43% { -webkit-transform: matrix3d(0.936, 0.351, 0, 0, -0.345, 0.939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.936, 0.351, 0, 0, -0.345, 0.939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    40.46% { -webkit-transform: matrix3d(0.997, 0.081, 0, 0, -0.08, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.997, 0.081, 0, 0, -0.08, 0.997, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.95% { -webkit-transform: matrix3d(1, -0.006, 0, 0, 0.006, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.006, 0, 0, 0.006, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    57.14% { -webkit-transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.009, 0, 0, 0.009, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.33% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
@font-face {
    font-family: 'robotoblack';
    src: url('../resources/roboto-black-webfont.woff2') format('woff2'),
         url('../resources/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../resources/roboto-bold-webfont.woff2') format('woff2'),
         url('../resources/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../resources/roboto-medium-webfont.woff2') format('woff2'),
         url('../resources/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/roboto-regular-webfont.woff2') format('woff2'),
         url('../resources/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}