body ,html{
    width:100%;
    height:100%;
    background-color:#1D1D1D;
    padding:0;
    margin:0;
    position: absolute;
    font-size:12px;
    font-family: 'rubikregular';
}

div {
    display: block;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    font-family: 'secular';
    cursor: default;
    color: #fff;
}

h1{
    font-size: 3rem;
}

h2, h3{
    font-size: 2.3rem;
}

a:link{
    text-decoration: none;
}

*::selection  {
    background-color:transparent;
} 

*::-moz-selection {
    background-color:transparent;
}

* {        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

span {
    color: #fff;
    font-weight: normal;
    cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;     
    user-select: none;          
}

button {
    border: 1px solid  #08FDD8;
    position: relative;
    color: #08FDD8;
    font-family: 'rubikregular';
    font-size:18px;
    letter-spacing: 4px;
}

button:focus {
    outline:0;
}

textarea{
    font-family: 'rubikregular';
}

.body{
    width: 100%;
    height: 400%;
    position: relative;
}

.content{
    opacity:0;
    height: 25%;
    width: 100%;
    position: relative;
}

.home{
    overflow: hidden;
}

.about{
}

.portfolio {
}

.contact{   
    height:45%;
} 


.particles{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.button{
    background-color: transparent;
	color: #fff;
	display: block;
    position: relative;
    z-index: 0;
	border: 4px solid #08FDD8;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.disabled{
    filter: brightness(0.35);
}

.contact_btn {
    margin: auto;
    width: 195px;
    height: 60px;
}

.sidebar{
    opacity:0; 
    background-color: #141414;
    width: 100%;
    height:55px;
    min-height: 55px;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    border-bottom   : 1px solid #08FDD8; 
    overflow: hidden;
    transition: 300ms ease-out;
}

.sidebar .menu .item .button{
    display: block;
    bottom: 38px;
    left: 35%;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 76%;
    text-align: left;
    border: none;
}

.sidebar .logo{
    display: block;
    position: absolute;
    left: 0;
    max-width:32px;
    margin-left: 15px;
    margin-top: 11px;
    z-index: 5;
    cursor: pointer;
}

.sidebar .phone{
    position: absolute;
    top:0;
    left:0;
    max-width:28px;
    display: block;
    margin-left: 59px;
    margin-top: 14px;
    z-index: 5;
    cursor: pointer;
}

.sidebar .hamburger_icon{
    right: 0;
    top: 0;
    position: absolute;
    display: block;
    max-width: 30px;
    margin-right: 18px;
    margin-top: 12px;
    z-index: 5;
}

.sidebar .lang_icon{
    right: 0;
    top: 0;
    position: absolute;
    display: block;
    max-width: 30px;
    margin-right: 64.5px;
    margin-top: 13px;
    z-index: 5;
}

.sidebar .lang_menu{
    position: relative;
    text-align: center;
    bottom: 40px;
    opacity: 0;
    z-index: 1;
    direction: ltr;
}

.sidebar .lang_menu .lang_text{
    display:none;
}

.sidebar .lang_menu .item{
    border: 2px solid #08FDD8;
    line-height: 31px;
    width: 30%;
    font-size: 1.3rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 9px;
    margin-top: 2%;
    letter-spacing: 1.5px;
}

.sidebar .lang_menu .item a{
    padding: 7% 12%;
    color: #fff;
}

.sidebar .menu{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 56px;
    z-index: 1;
    position: relative;
    background: #141414;
    transition: 300ms ease-out;
    -webkit-backface-visibility: hidden;
}

.sidebar .menu .item {
    text-align: left;
    padding-left: 9%;
    margin: 0 auto;
    height: 10%;
    width: 48%;
    border-bottom: 1px solid #08FDD8;
}

.sidebar .icon{
    max-width:38px;
    transition: 300ms ease-out;
}

.A_letter{
    color: #08FDD8;
    font-size: 3.5rem;
    top: 1px;
    left: 2px;
    position: relative;
}

.text-main {
    position: relative;
    width: 80%;
    max-height: 90%;
    z-index: 1;
    margin: 0 10%;
}


.text-main h1{
    font-size: 3.5rem;
    margin-bottom:0;
    margin-top:0;
    text-align: left;
}

.text-main h2{
    font-size:3rem;
    margin-bottom:0;
    margin-top:0;
    text-align: left;
}

.text-main h3{
    text-align:left;
    font-size: 1.8rem;
    margin-top:0;
}

.text-main h1, .text-main h2{
    line-height: 40px;
    transition: 0.2s;
    cursor: default;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.text-main .logo{
    top: 3px;
    left: 2px;
    height: 30px;
    position: relative;
}  

.home .text-main{
    padding-top:58%;
}

.home .text-main h1, .home .text-main h2, .home .text-main h3{
    left:150px;
    position: relative;
}

.home .text-main h1, .home .text-main h2, .home .text-main h3, .home .text-main .logo, .home .text-secondary, .contact_btn{
    opacity:0;
    transition: 300ms ease-out;
}

.home .text-secondary{
    text-align: center;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    padding-left: 0;
}

.home .text-secondary span{
    letter-spacing: 3px;   
}

.text-secondary{
    width: 100%;
    display: block;
    margin-bottom: 4%;
    text-align: left;
    position: relative;
    font-size: 1.3rem;
    z-index: 1;
    letter-spacing: 3px;
}

.about .text-main{
    margin-top: 23%;
    z-index: 1;
}

.about .text-secondary{
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 3% 5%;
    width:90%;
}

.about .text-main .logo{
    left: 15px;
    height: 72px;
    top: 7px;
}

.about{
    overflow:hidden;
    min-height: 650px;
}

.about video{
    z-index: 0;
    height:100%;
    position: absolute;
    top: 0;
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -o-filter: brightness(30%);
    -ms-filter: brightness(30%);
    filter: brightness(25%);
}

.portfolio{
    height:870px;
    border-bottom:1px solid #08FDD8;
    transition: 300ms ease-out;
}

.portfolio .text-main{
    margin-top:3%;
    margin-bottom:3%;
    margin-left:7.5%;
    transition: 300ms ease-out;
    font-size:3rem;
}

 .content.contact{
    overflow: visible;
}


.contact .text-main{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 7.5%;
}

.contact .text-main h2{
    color:#08FDD8;
}

.contact .map_wrapper{
    border-top: 1px solid #08FDD8;
    height:58%;
    width: 100%;
    position: absolute;
}

.contact .map{
    height: 100%;
}

.contact .text-secondary{
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    width: 90%;
    margin-left: 6%;
    margin-top: 10px;
    margin-bottom: 35px;
}


.contact .address{
    background-color: #000;
    width: 75%;
    position: absolute;
    height: 103px;
    bottom:5%;
    left:50%;
    transform: translate(-50%, 0);
    padding: 15px;
    z-index: 5;
    border:1px solid #2B2B2B;
}

.contact .address span{
    text-align: left;
    font-size:1.4rem;
}

.form{
    width: 90%;
    height: 410px;
    margin: 0 5%;
    position: relative;
}

.form input, .form textarea{
    background-color: #2B2B2B;
    color: #848484;
    width: 100%;
    height: 100%;
    font-size: 22px;
    margin: 5px;
    transition: ease-in-out, width .35s ease-in-out;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 22px;
    outline: none;
}

.input_container {
    width: 100%;
    height:55px;
    margin-top: 15px;
    margin-bottom:15px;
    position: relative;
    overflow: hidden;
    border-left:2px solid #08FDD8;
  }

    .input_container.first{
      width: 48%;
    }

    .input_container.second{
        position: absolute;
        width: 48%;
        top: 0;
        right: 0;
        margin: 0;
    }

    .input_container.fourth{
        height:190px;
    }

    .input_container.fourth textarea{
        padding-top: 17px;

    }
  
  input ~ .border, textarea ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    width: 0;
    height: 2px;
    background-color: #08FDD8;
    
  }
  
  input:focus ~ .border, textarea:focus ~ .border {
    width: 110%;
    transition: 0.4s;
  }


.submit_btn {
    right: 0;
    width: 150px;
    height: 50px;
    position: absolute;
}


.swiper-container {
    height: 92%;
    color: white;
    z-index:2;
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background-color:#08FDD8;
}

.swiper-scrollbar{
    top:32%;
}

.swiper-pagination{
    top:34%;
    height:5%;
}

.swiper-pagination .swiper-pagination-bullet{
    width:12px;
    height:12px;    
    margin: 0 8px !important;
    margin-bottom: 20px !important;
    background-color:#08FDD8;
    
}

.swiper-button-next, .swiper-button-prev{
    z-index:11;
    top: 40%;
    padding: 0 5%;
    color: #08FDD8;
}

    .swiper-button-next:focus, .swiper-button-prev:focus, .swiper-pagination-bullet:focus{
        outline:0;
    }


.swiper-pagination .swiper-pagination-bullet-active{
    background-color:#08FDD8;
    border:1px solid #08FDD8;
}

.swiper-slide .project-content{
    max-width: 95%;
    width:95%;
    height: 230px;
    position: absolute;
    top: 20px;
    transition: 300ms ease-out;
}

.swiper-slide .project-content:hover{
    cursor:pointer;
}

.swiper-slide .project-content img, .swiper-slide .project-content video{
    max-width:95%;
    max-height:95%; 
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%; 
    left:50%;
}

.swiper-slide .project-content .this-app{
    border: 1px solid#08FDD8;
}

.swiper-slide .project-text{
    width: 90%;
    position: absolute;
    top:42%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 1.3rem;
    transition: 300ms ease-out;
}


.swiper-slide .project-text.smaller{
    font-size: 1.1rem;
}


.swiper-slide .project-text h2{
    font-size:1.8rem;
    text-align: center;
}

.swiper-slide .project-text .project-bottom-text{
    font-size:1.5rem;
    font-weight: 900;
}

.swiper-slide .project-text a{
    text-decoration: underline;
    color:#08FDD8;
}

.overlay{
    display:none;
    position: absolute;;
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    z-index:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition: 300ms ease-out;
}

.theater-mode{
    position: absolute !important;
    width: 100% !important;
    max-width:100% !important;
    height:75% !important;
    filter:brightness(100%) !important;
    top: 0px !important; 
    z-index: 15 !important;
}

.theater-mode img{
    max-width:100% !important;
    max-height:100% !important;
}

.height{
    height:30% !important;
}

.blur{
    filter:brightness(50%) blur(5px) !important;
    z-index:0 !important;
}

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width:325px)  { 
    .home .text-main{
        padding-top:65%;
    } 

    .text-main h2{
        font-size: 3rem;
    }

     .text-main h3{
        font-size: 2.2rem;
    }
}

/* @media (min-width:480px) { smartphones, Android phones, landscape iPhone } */
/* @media (min-width:600px) { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  } */

@media (min-width:750px)   { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .sidebar{
        z-index:15;
        width: 5%;
        min-width:80px;
        max-height:initial;
        height:100%;
        border-bottom:initial;
        border-right: 1px solid #08FDD8; 
    }

    .sidebar .hamburger_icon{
        display:none;
    }

    .sidebar .phone{
        top: initial;
        left: initial;
        bottom: 35px;
        margin: 0 auto;
        max-width: initial;
        width: 100%;
        display: block;
        text-align: center;
        z-index: 6;
        height:4%;
    }

    .sidebar .lang_icon{
        top: 67px;
        left: initial;
        margin: 0 auto;
        max-width: initial;
        width: 100%;
        display: block;
        text-align: center;
        z-index: 6;
        display:none;
    }

    .sidebar .lang_icon img{
        max-width: 40%;;
    }

    .sidebar .icon{
        height:80%;
    }

    .sidebar .menu .item:hover .button{
        opacity: 1;
    }
    .sidebar .menu .item:hover img{
        opacity: 0;
    } 

    .sidebar .phone a{
        width:50%;
    }

    .sidebar .phone a img{
        max-height: 80%;
    }

    .sidebar .menu{
        height: 90%;
        width: 100%;
        display: initial;
        flex-direction: initial;
        justify-content: initial;
        top: 24%;
        position: absolute;
        z-index: 5;
        opacity: 1;
        background-color: initial; 
    }

    .sidebar .menu .item{
        text-align: center;
        margin-top: 25%;
        margin-bottom: 25%;
        height: 5%;
        width: 100%;
        border-bottom:none;
        padding-left:initial;
    }
    
    .sidebar .lang_container{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 80px;
    }

    .sidebar .lang_menu{
        opacity: 1;
        position: absolute;
        top: 0;
        width: 100%;
        bottom: initial;
    }

    .sidebar .lang_menu .lang_text{
        text-align: center;
        font-size: 0.9rem;
        width: 100%;
        letter-spacing: 1px;
        line-height: 33px;
        background: transparent;
        border: none;
        color:#fff;
        transition: 200ms ease-out;
        display:block;
    }

     .sidebar .lang_menu .item{
        opacity: 0;
        position: relative;
        bottom: 40px;
        line-height: 23px;
        font-size: 1rem;
        width: initial;
        border: none;
        border-radius: 6px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition: 200ms ease-out;
        display: block;
    }

    .sidebar .lang_menu .item a{
        padding:5px;
    }

    .lang_menu:hover > .item{
        opacity: 1;
    }

    .lang_menu:hover > .lang_text {
        opacity:0;
    }

    .sidebar .logo{
        margin-top: 20%;
        margin-bottom: 40%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        position: relative;
    }

    .content{
        margin-left: 8%;
        width:92%;
    }

    .home .text-main{
        padding-top: 10%;
        padding-left: 2%;
    }

    .text-main .logo {
        top: 3px;
        left: 4px;
        height: 43px;
    }

    .button:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nthree;
        cursor:pointer;
    }

    .button:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }

    .button:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #08FDD8;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }

    .sidebar .menu .item .button{
        opacity: 0;
        bottom: 35px;
        letter-spacing: 0.5px;
        font-size: 1.3rem;
        font-weight:600;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        border: none;
        left:initial;
        text-align: center;
    }

    .text-main h1, .text-main h2, .text-main h3{
        font-size: 3.75rem;
        line-height: 60px;
    }

    .A_letter{
        font-size:4.4rem;
        left:3px
    }

    .home .text-secondary{
        text-align: left;
        margin-left:12.5%;
    }

    .home .text-secondary span {
        letter-spacing: 5px;
    }

    .text-secondary {
        padding-left: 1.5%;
        margin-bottom: 2%;
        font-size: 2rem;
        text-align: left;
    }

    .contact_btn{
        margin-left:14.5%;
    }

    .about video{
        height:initial;
        min-height: 100%;
    }

    .about .text-main{
        margin-top: 8%;
        margin-left:14.5%;
    }

    .about .text-secondary{
        max-width: 790px;
        margin-left: 13%;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }


    .portfolio{
        height:25%;
        border-bottom:initial;
        overflow:visible;
    }

    .height{
        height:40% !important;
    }

    .swiper-container{
        height:80%;   
    }

    .swiper-button-next, .swiper-button-prev{
        bottom: 8%;
        top: initial;
        padding: 0 25%;
    }

    .swiper-pagination{
        top:initial;
    }

    .swiper-pagination .swiper-pagination-bullet{
        width:15px;
        height:15px;    
        margin: 0 12px !important;
        margin-bottom: 20px !important;
    }

    .swiper-slide .project-text{
        top: initial;
        bottom: 35px;
        position: relative;
        width: 37%;
        padding: 15px;
        padding-right: 3%;
        font-size: 1.2rem;
        text-align: left;
    }

    .swiper-slide .project-content{
        width: 50%;
        height: 70%;
        position: relative;
        top:initial;
        bottom: 60px;
    }

    .swiper-slide .project-text h2{
        text-align:left;
        font-size: 1.6rem;
    }

    .swiper-slide .project-text .project-bottom-text {
        font-size: 3rem;
        font-size: 1.5rem;
    }

    .swiper-slide .project-text.smaller{
        font-size:1.4rem;
    }

    .swiper-scrollbar{
        top:initial;
    }

    .theater-mode{
        height:100% !important;
        bottom:10px !important;
        top: initial !important;
    }

    .contact{
        height:25%;
        top:5%;
    }

    .contact .text-main{
        width:35%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top:0;
        margin-bottom:0;
    }

    .contact .text-secondary{
        width:35%;
        margin-bottom:3%;
        font-size:1rem;
    }

    .form{
        width:33%;
        height: 55%;
        margin-left: 7.5%;
        padding-left: 0;
    }

    .contact .map_wrapper{
        height:100%;
        width:53%;
        position: absolute;
        top:0;
        right: 0;
        bottom:0;
        border:1px solid #08FDD8;
    }

    .contact .address{
        transform:initial;
        width: 270px;
        height: 125px;
        top: 0;
        left: 5%;
        margin-top: 40px;
        padding: 20px;
    }

    .input_container.first{
        width: 49%;
    }

    .input_container.second{
        width: 49%;
      }

    .contact .text-secondary span{
        font-size: 1.6rem;
        letter-spacing: 1.5px;
    }

    .contact .address span {
        font-size:1.7rem;
    }

    .sidebar:hover{
        background-color:#122421 !important;
    }
}

@media (min-width:1025px) and (min-height: 700px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .content{
        margin-left:5%;
        width: 95%;
    }

    .home .text-main{
        padding-top: 13%;
    }

    .about .text-main {
        margin-top: 12%;
    }

    .about .text-secondary{
        font-size:1.5rem;
    }
}
@media (min-width:1200px) and (min-height: 700px){ 
    /* hi-res laptops and desktops */ 
    .text-main h1, .text-main h2, .text-main h3{
        font-size:4.5rem;
    }
    
    .A_letter{
        font-size:5rem;
    }

    .home .text-main{
        padding-top:21%;
    }

    .about .text-main {
        margin-top: 18%;
    }

    .text-main .logo {
        top: 4px;
        left: 5px;
        height: 62px;
    }

    .swiper-slide .project-content{
        margin-bottom:45px;
    }

    .swiper-slide .project-text{
        font-size: 1.5rem;
        bottom:70px;
    }

    .swiper-slide .project-text h2{
        font-size: 3rem;
    }

    .swiper-slide .project-text .project-bottom-text{
        font-size: 2.0rem;
    }

    .contact .text-secondary{
        font-size:1.3rem;
    }
}
  
@font-face {
    font-family: 'rubikregular';
    src: url('../resources/fonts/rubik-regular.woff2') format('woff2'),
        url('../resources/fonts/rubik-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'secular';
    src: url('../resources/fonts/secularone.woff2') format('woff2'),
         url('../resources/fonts/secularone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
