body ,html{
    width:100%;
    height:100%;
    background-color:#1D1D1D;
    padding:0;
    margin:0;
    position: absolute;
    font-size:12px;
    font-family: 'rubikregular';
}

div {
    display: block;
}

img {
    max-width: 100%;
}

h1, h2 {
    font-family: 'secular';
    cursor: default;
    color: #fff;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.3rem;
}

a:link{
    text-decoration: none;
}

/*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

span {
    color: #fff;
    font-weight: normal;
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
}

button {
    border: 1px solid  #08FDD8;
    position: relative;
    color: #08FDD8;
    font-family: 'rubikregular';
    font-size:18px;
    letter-spacing: 4px;
}

button:focus {
    outline:0;
}

textarea{
    font-family: 'rubikregular';
}

.body{
    width: 100%;
    height: 400%;
    position: relative;
}

.content{
    opacity:0;
    height: 25%;
    width: 100%;
    position: relative;
}

.home{
    overflow: hidden;
}

.about{
}

.portfolio {
}

.contact{   
    height:45%;
} 


.particles{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

.button{
    background-color: transparent;
	color: #fff;
	display: block;
    position: relative;
    z-index: 0;
	border: 4px solid #08FDD8;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.contact_btn {
    margin: auto;
    width: 195px;
    height: 60px;
}

.sidebar{
    opacity:0; 
    background-color: #141414;
    width: 100%;
    height:55px;
    min-height: 55px;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    border-bottom   : 1px solid #08FDD8; 
    overflow: hidden;
    transition: 300ms ease-out;
}


.sidebar .menu .item .button{
    display: block;
    bottom: 38px;
    left: 35%;
    letter-spacing: 1.5px;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 76%;
    text-align: left;
    border: none;
}

.sidebar .logo{
    display: block;
    position: absolute;
    left: 0;
    max-width:32px;
    margin-left: 15px;
    margin-top: 11px;
    z-index: 5;
    cursor: pointer;
}

.sidebar .phone{
    position: absolute;
    top:0;
    left:0;
    max-width:28px;
    display: block;
    margin-left: 57px;
    margin-top: 14px;
    z-index: 5;
    cursor: pointer;
}

.sidebar .hamburger_menu{
    right: 0;
    top: 0;
    position: absolute;
    display: block;
    max-width: 32px;
    margin-right: 20px;
    margin-top: 12px;
    z-index: 5;
}

.sidebar .menu{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 56px;
    z-index: 1;
    position: relative;
    background: #141414;
    transition: 300ms ease-out;
    -webkit-backface-visibility: hidden;
}

.sidebar .menu .item {
    text-align: left;
    padding-left: 9%;
    margin: 0 auto;
    height: 10%;
    width: 48%;
    border-bottom: 1px solid #08FDD8;
}

.sidebar .icon{
    max-width:38px;
    transition: 300ms ease-out;
}


.A_letter{
    color: #08FDD8;
    font-size: 4rem;
    top: 1px;
    left: 2px;
    position: relative;
}

.text-main {
    position: relative;
    width: 80%;
    max-height: 90%;
    z-index: 1;
    margin: 0 10%;
}

.text-main #headers{
    display:none;
}   


.text-main h1{
    font-size: 3.5rem;
    margin-bottom:0;
    margin-top:0;
    text-align: left;
}

.text-main h2{
    text-align:left;
    font-size: 1.8rem;
    margin-top:0;
}

.text-main h1, .text-main h2{
    line-height: 45px;
    transition: 0.2s;
    cursor: default;

    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.text-main .logo{
    top: 3px;
    left: 2px;
    height: 30px;
    position: relative;
}  

.home .text-main{
    padding-top:58%;
}

.home .text-main h1, .home .text-main h2, .home .text-main .logo, .home .text-secondary, .contact_btn{
    opacity:0;
}

.home .text-secondary{
    text-align: center;
}

.home .text-secondary span{
    letter-spacing: 3.5px;   
}

.text-secondary{
    width: 100%;
    display: block;
    margin-top: 2%;
    margin-bottom: 12%;
    text-align: left;
    position: relative;
    font-size: 1.3rem;
    z-index: 1;
    letter-spacing: 3px;
}

.about .text-main{
    margin-top: 30%;
    z-index: 1;
}

.about .text-secondary{
    letter-spacing: 1px;
    font-size: 1.3rem;
    margin: 3% 7.5%;
    width:85%;
}


.about .text-main .logo{
    left: 15px;
    height: 72px;
    top: 7px;
}


.about{
    overflow:hidden;
    min-height: 650px;
}

.about video{
    z-index: 0;
    height:100%;
    position: absolute;
    top: 0;
    -webkit-filter: brightness(30%);
    -moz-filter: brightness(30%);
    -o-filter: brightness(30%);
    -ms-filter: brightness(30%);
    filter: brightness(25%);
}

.portfolio{
    height:870px;
    border-bottom:1px solid #08FDD8;
    transition: 300ms ease-out;
}

.portfolio .text-main{
    margin-top:3%;
    margin-bottom:3%;
    margin-left:7.5%;
    transition: 300ms ease-out;
    font-size:3rem;
}




 .content.contact{
    overflow: visible;
}


.contact .text-main{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 7.5%;
}

.contact .text-main h1{
    color:#08FDD8;
}

.contact .map_wrapper{
    border-top: 1px solid #08FDD8;
    /* height: 600px; */
    height:58%;
    width: 100%;
    position: absolute;
    direction: ltr;
    /* bottom:0; */
}

.contact .map{
    height: 100%;
    direction: ltr;
    /* width: 100%;
    position: absolute; */
    /* right: 0;
    bottom: 0;
    left:0;
    top:0; */
}

.contact .text-secondary{
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    width: 90%;
    margin-left: 6%;
    margin-top: 10px;
    margin-bottom: 35px;
}


.contact .address{
    background-color: #000;
    width: 75%;
    position: absolute;
    height: 103px;
    bottom:5%;
    left:50%;
    transform: translate(-50%, 0);
    padding: 15px;
    z-index: 5;
    border:1px solid #2B2B2B;
}

.contact .address span{
    text-align: left;
    font-size:1.4rem;
}

.form{
    width: 90%;
    height: 410px;
    margin: 0 5%;
    position: relative;
    /* display:none; */
}

.form input, .form textarea{
    background-color: #2B2B2B;
    color: #848484;
    width: 100%;
    height: 100%;
    font-size: 22px;
    margin: 5px;
    transition: ease-in-out, width .35s ease-in-out;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 22px;
    outline: none;
}

.input_container {
    width: 100%;
    height:55px;
    margin-top: 15px;
    margin-bottom:15px;
    position: relative;
    overflow: hidden;
  }

    .input_container.first{
      width: 49%;
    }

    .input_container.second{
        position: absolute;
        width: 49%;
        top: 0;
        right: 0;
        margin: 0;
    }

    .input_container.fourth{
        height:190px;
    }

    .input_container.fourth textarea{
        padding-top: 17px;

    }
  
  input ~ .border, textarea ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    width: 0;
    height: 2px;
    background-color: #08FDD8;
    
  }
  
  input:focus ~ .border, textarea:focus ~ .border {
    width: 110%;
    transition: 0.4s;
  }


.submit_btn {
    right: 0;
    width: 150px;
    height: 50px;
    position: absolute;
}


.swiper-container {
    height: 92%;
    color: white;
    z-index:2;
    /* border: 1px solid yellow; */
}

.swiper-slide {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background-color:#08FDD8;
}

.swiper-scrollbar{
    /* display:none; */
    top:32%;
}

.swiper-pagination{
    top:34%;
    height:5%;
}

.swiper-pagination .swiper-pagination-bullet{
    width:12px;
    height:12px;    
    margin: 0 8px !important;
    margin-bottom: 20px !important;
    background-color:#08FDD8;
    
}

.swiper-button-next, .swiper-button-prev{
    z-index:11;
    top: 40%;
    padding: 0 5%;
    color: #08FDD8;
}

    .swiper-button-next:focus, .swiper-button-prev:focus, .swiper-pagination-bullet:focus{
        outline:0;
    }


.swiper-pagination .swiper-pagination-bullet-active{
    background-color:#08FDD8;
    border:1px solid #08FDD8;
}

.swiper-slide .project-content{
    max-width: 95%;
    width:95%;
    height: 230px;
    position: absolute;
    top: 20px;
    transition: 300ms ease-out;
}


.swiper-slide .project-content:hover{
    cursor:pointer;
}


.swiper-slide .project-content img, .swiper-slide .project-content video{
    max-width:95%;
    max-height:95%; 
    transform: translate(-50%, -50%);
    position: absolute;
    top:50%; 
    left:50%;
}


.swiper-slide .project-content .this-app{
    border: 1px solid#08FDD8;
}



.swiper-slide .project-text{
    width: 90%;
    position: absolute;
    top:42%;
    text-align: left;
    letter-spacing: 1px;
    font-size: 1.3rem;
    transition: 300ms ease-out;
}


.swiper-slide .project-text.smaller{
    font-size: 1.1rem;
}


.swiper-slide .project-text h2{
    font-size:1.8rem;
    text-align: center;
}

.swiper-slide .project-text .project-bottom-text{
    font-size:1.5rem;
    font-weight: 900;
}

.swiper-slide .project-text a{
    text-decoration: underline;
    color:#08FDD8;
}


.overlay{
    display:none;
    position: absolute;;
    background-color:rgba(0,0,0,0.5);
    width:100%;
    height:100%;
    z-index:0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transition: 300ms ease-out;
}

.theater-mode{
    position: absolute !important;
    width: 100% !important;
    max-width:100% !important;
    height:75% !important;
    filter:brightness(100%) !important;
    top: 0px !important; 
    z-index: 15 !important;
}

.theater-mode img{
    max-width:100% !important;
    max-height:100% !important;
}

.height{
    height:30% !important;
}

.blur{
    filter:brightness(50%) blur(5px) !important;
    z-index:0 !important;
}


.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width:325px)  { 
    .home .text-main{
        padding-top:65%;
    } 

    .text-main h2 {
        font-size: 2.2rem;
    }
}

@media (min-width:360px)  { 

}

@media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
}
@media (min-width:600px){ 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media (min-width:750px)   { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    .sidebar{
        z-index:15;
        width: 4.5%;
        min-width:80px;
        max-height:initial;
        height:100%;
        border-bottom:initial;
        border-right: 1px solid #08FDD8; 
    }

    .sidebar .hamburger_menu{
        display:none;
    }

    .sidebar .phone{
        top: initial;
        left: initial;
        bottom: 35px;
        margin: 0 auto;
        max-width: initial;
        width: 100%;
        display: block;
        text-align: center;
        z-index: 6;
    }

    .sidebar .icon{
        height:80%;
    }

    .sidebar .menu .item:hover .button{
        opacity: 1;
    }
    .sidebar .menu .item:hover img{
        opacity: 0;
    } 
    

    .sidebar .phone a{
        width:50%;
    }

    .sidebar .phone a img{
        max-width: 40%;
    }

    .sidebar .menu{
        /* display:none; */
        height: 100%;
        width: 100%;
        display:initial;
        flex-direction: initial;
        justify-content:  initial;
        top: 15%;
        position: absolute;
        z-index: 5;
        opacity:1;
        background-color: initial;        
    }

    .sidebar .menu .item{
        text-align: center;
        margin-top: 25%;
        margin-bottom: 25%;
        height: 5%;
        width: 100%;
        border-bottom:none;
        padding-left:initial;
    }

    .sidebar .logo{
        margin-top: 20%;
        margin-bottom: 40%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        position: relative;
    }

    .content{
        margin-left: 8%;
        width:92%;
    }

    .home .text-main{
        padding-top: 10%;
        padding-left: 2%;
    }

    .text-main .logo {
        top: 3px;
        left: 4px;
        height: 43px;
    }

    .button:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nthree;
        cursor:pointer;
    }
    .button:hover:before {
        left: 0%;
        right: auto;
        width: 100%;
    }
    .button:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #08FDD8;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }

    .sidebar .menu .item .button{
        opacity: 0;
        bottom: 35px;
        letter-spacing: 0.5px;
        font-size: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        border: none;
        left:initial;
        text-align: center;
    }

    .text-main h1, .text-main h2{
        font-size: 3.75rem;
        line-height: 60px;
    }

    .A_letter{
        font-size:4.4rem;
        left:3px
    }

    .home .text-secondary{
        text-align: left;
        margin-left:12.5%;
    }

    .home .text-secondary span {
        letter-spacing: 5px;
    }

    .text-secondary {
        padding-left: 1.5%;
        margin-bottom: 1%;
        font-size: 2rem;
        text-align: left;
    }

    .contact_btn{
        margin-left:14.5%;
    }

    .about video{
        height:initial;
        min-height: 100%;
        /* width:100%; */
    }

    .about .text-main{
        margin-top: 8%;
        margin-left:14.5%;
    }

    .about .text-secondary{
        max-width: 720px;
        margin-left: 13%;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }


    .portfolio{
        height:25%;
        border-bottom:initial;
        overflow:visible;
    }

    .height{
        height:40% !important;
    }

    .swiper-container{
        height:80%;   
    }

    .swiper-button-next, .swiper-button-prev{
        bottom: 8%;
        top: initial;
        padding: 0 25%;
    }

    .swiper-pagination{
        top:initial;
    }

    .swiper-pagination .swiper-pagination-bullet{
        width:15px;
        height:15px;    
        margin: 0 12px !important;
        margin-bottom: 20px !important;
    }

    .swiper-slide .project-text{
        top: initial;
        bottom: 35px;
        position: relative;
        width: 37%;
        padding: 15px;
        padding-right: 3%;
        font-size: 1.2rem;
        text-align: left;
    }

    .swiper-slide .project-content{
        width: 50%;
        height: 70%;
        position: relative;
        top:initial;
        bottom: 60px;
    }


    .swiper-slide .project-text h2{
        text-align:left;
        font-size: 1.6rem;
    }

    .swiper-slide .project-text .project-bottom-text {
        font-size: 3rem;
        font-size: 1.5rem;
    }

    .swiper-slide .project-text.smaller{
        font-size:1.4rem;
    }

    .swiper-scrollbar{
        top:initial;
    }

    .theater-mode{
        height:100% !important;
        bottom:10px !important;
        top: initial !important;
    }

    .contact{
        height:25%;
        top:5%;
    }

    .contact .text-main{
        width:35%;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top:0;
        margin-bottom:0;
    }

    .contact .text-secondary{
        width:35%;
        margin-bottom:20px;
        font-size:1rem;
    }

    .form{
        width:34%;
        height: 55%;
        margin-left: 7.5%;
        padding-left: 0;
    }

    .contact .map_wrapper{
        height:100%;
        width:53%;
        position: absolute;
        top:0;
        right: 0;
        bottom:0;
        border:1px solid #08FDD8;
    }

    .contact .address{
        transform:initial;
        width: 270px;
        height: 125px;
        top: 0;
        left: 5%;
        margin-top: 40px;
        padding: 20px;
    }

    .contact .text-secondary span{
        font-size: 1.6rem;
        letter-spacing: 1.5px;
    }

    .contact .address span {
        font-size:1.7rem;
    }

    .sidebar:hover{
        background-color:#122421 !important;
    }
}

@media (min-width:1025px) and (min-height: 700px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .content{
        margin-left:4.5%;
        width: 95.5%;
    }

    .home .text-main{
        padding-top: 13%;
    }

    .about .text-main {
        margin-top: 12%;
    }

    .about .text-secondary{
        font-size:1.5rem;
    }


}
@media (min-width:1200px) and (min-height: 700px){ 
    /* hi-res laptops and desktops */ 
    .text-main h1, .text-main h2{
        font-size:4.5rem;
    }
    
    .A_letter{
        font-size:5rem;
    }

    .home .text-main{
        padding-top:21%;
    }

    .about .text-main {
        margin-top: 18%;
    }

    .text-main .logo {
        top: 4px;
        left: 5px;
        height: 62px;
    }

    .text-secondary{
        font-size:2.3rem;
    }

    .swiper-slide .project-content{
        margin-bottom:45px;
    }

    .swiper-slide .project-text{
        font-size: 1.5rem;
        bottom:70px;
    }

    .swiper-slide .project-text h2{
        font-size: 3rem;
    }

    .swiper-slide .project-text .project-bottom-text{
        font-size: 2.0rem;
    }

    .contact .text-secondary{
        font-size:1.3rem;
    }

    .about .text-secondary{
        font-size:1.6rem;
    }


}

.animation-splat {
    -webkit-animation: splat 2900ms linear both;
    animation: splat 2900ms linear both;
}

  @-webkit-keyframes splat { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
    2.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); }
    3.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); }
    3.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); }
    4.58% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); }
    5.69% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); }
    5.76% { -webkit-transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); }
    7.41% { -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); }
    7.51% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); }
    7.88% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); }
    8.68% { -webkit-transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); }
    10.03% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); }
    10.85% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); }
    11.53% { -webkit-transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); }
    12.22% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); }
    14.18% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); }
    14.37% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); }
    19.23% { -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); }
    20.01% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); }
    23.05% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); }
    25.75% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); }
    26.94% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); }
    31.58% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); }
    31.73% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); }
    37.32% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); }
    38.15% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); }
    42.35% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); }
    48.9% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); }
    57.77% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
    60.47% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
    69.36% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  @keyframes splat { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
    2.92% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -135.218, 0, 0, 1); }
    3.37% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -114.871, 0, 0, 1); }
    3.47% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -110.596, 0, 0, 1); }
    4.58% { -webkit-transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); transform: matrix3d(2.061, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -68.65, 0, 0, 1); }
    5.69% { -webkit-transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); transform: matrix3d(2.321, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -36.551, 0, 0, 1); }
    5.76% { -webkit-transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); transform: matrix3d(2.32, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -34.768, 0, 0, 1); }
    7.41% { -webkit-transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); transform: matrix3d(1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.804, 0, 0, 1); }
    7.51% { -webkit-transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); transform: matrix3d(1.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -2.454, 0, 0, 1); }
    7.88% { -webkit-transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); transform: matrix3d(1.771, 0, 0, 0, 0, 1.062, 0, 0, 0, 0, 1, 0, 2.008, 0, 0, 1); }
    8.68% { -webkit-transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); transform: matrix3d(1.408, 0, 0, 0, 0, 1.181, 0, 0, 0, 0, 1, 0, 9.646, 0, 0, 1); }
    10.03% { -webkit-transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); transform: matrix3d(0.982, 0, 0, 0, 0, 1.333, 0, 0, 0, 0, 1, 0, 16.853, 0, 0, 1); }
    10.85% { -webkit-transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); transform: matrix3d(0.822, 0, 0, 0, 0, 1.398, 0, 0, 0, 0, 1, 0, 18.613, 0, 0, 1); }
    11.53% { -webkit-transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); transform: matrix3d(0.732, 0, 0, 0, 0, 1.439, 0, 0, 0, 0, 1, 0, 18.992, 0, 0, 1); }
    12.22% { -webkit-transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); transform: matrix3d(0.672, 0, 0, 0, 0, 1.469, 0, 0, 0, 0, 1, 0, 18.618, 0, 0, 1); }
    14.18% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 15.054, 0, 0, 1); }
    14.37% { -webkit-transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); transform: matrix3d(0.612, 0, 0, 0, 0, 1.501, 0, 0, 0, 0, 1, 0, 14.604, 0, 0, 1); }
    19.23% { -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); transform: matrix3d(0.737, 0, 0, 0, 0, 1.371, 0, 0, 0, 0, 1, 0, 3.855, 0, 0, 1); }
    20.01% { -webkit-transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); transform: matrix3d(0.763, 0, 0, 0, 0, 1.338, 0, 0, 0, 0, 1, 0, 2.724, 0, 0, 1); }
    23.05% { -webkit-transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); transform: matrix3d(0.856, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0.036, 0, 0, 1); }
    25.75% { -webkit-transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); transform: matrix3d(0.923, 0, 0, 0, 0, 1.114, 0, 0, 0, 0, 1, 0, -0.709, 0, 0, 1); }
    26.94% { -webkit-transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); transform: matrix3d(0.947, 0, 0, 0, 0, 1.078, 0, 0, 0, 0, 1, 0, -0.76, 0, 0, 1); }
    31.58% { -webkit-transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); transform: matrix3d(1.009, 0, 0, 0, 0, 0.987, 0, 0, 0, 0, 1, 0, -0.406, 0, 0, 1); }
    31.73% { -webkit-transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); transform: matrix3d(1.01, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, -0.392, 0, 0, 1); }
    37.32% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.03, 0, 0, 1); }
    38.15% { -webkit-transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); transform: matrix3d(1.029, 0, 0, 0, 0, 0.958, 0, 0, 0, 0, 1, 0, -0.008, 0, 0, 1); }
    42.35% { -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); transform: matrix3d(1.022, 0, 0, 0, 0, 0.969, 0, 0, 0, 0, 1, 0, 0.03, 0, 0, 1); }
    48.9% { -webkit-transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); transform: matrix3d(1.007, 0, 0, 0, 0, 0.99, 0, 0, 0, 0, 1, 0, 0.009, 0, 0, 1); }
    57.77% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.003, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
    60.47% { -webkit-transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); transform: matrix3d(0.998, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
    69.36% { -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.999, 0, 0, 0, 0, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    83.61% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }

@font-face {
    font-family: 'rubikregular';
    src: url('../resources/fonts/rubik-regular.woff2') format('woff2'),
        url('../resources/fonts/rubik-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'secular';
    src: url('../resources/fonts/secularone.woff2') format('woff2'),
         url('../resources/fonts/secularone.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
