html,body{
    background: #141414;
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

span{
    font-weight: 300;
    text-align: left;
    width:100%;
    position: absolute;
    color:white;
}

h1{
    color: #08FDD8;
    
}    

p{
    line-height: 20px;
}

a{
    color:white;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 24px;
    background-color: #1D1D1D;
    border:1px solid #08FDD8;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, .16);
    font-family: 'robotoregular';
    line-height: 10px;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../resources/roboto-regular-webfont.woff2') format('woff2'),
         url('../resources/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}